In [251]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [259]:
import tabula
from tabula import read_pdf
import numpy as np
import pandas as pd

df = read_pdf('1079533.pdf', pages='all', guess=False, multiple_tables=True, pandas_options={'header': None})

# Acondicionamiento de los dataframes

In [49]:
del df[0][5]
del df[0][7]

In [50]:
del df[1][4]
del df[1][6]
del df[1][8]

In [51]:
del df[2][4]
del df[2][6]
del df[2][8]

In [52]:
del df[3][3]
del df[3][5]
del df[3][7]
del df[3][9]

In [53]:
del df[4][3]
del df[4][5]
del df[4][7]
del df[4][9]

In [54]:
del df[5][4]
del df[5][6]
del df[5][8]

In [55]:
del df[6][4]
del df[6][6]
del df[6][8]

In [56]:
del df[7][4]
del df[7][6]
del df[7][8]

In [57]:
del df[8][4]
del df[8][6]
del df[8][8]

In [58]:
# El 9 tiene las horas dentro de la descripcion
del df[9][3]
del df[9][4]
del df[9][6]
del df[9][8]

In [60]:
# El 10 tiene las horas dentro de la descripcion
del df[10][3]
del df[10][5]
del df[10][7]

In [62]:
del df[11][4]
del df[11][6]
del df[11][8]

In [63]:
del df[12][3]
del df[12][5]

In [236]:
pd.set_option('display.max_colwidth', -1)  #Veo hasta la última palabra
i = 0
for dfs in df:
    print(i)
    i += 1
#     dfs.isna().sum()
    dfs.head(10)

0

,Date,Name,Descripcion,Hours,Rate/Hour,Total
1,NaN,NaN,1elephone conference and email correspondence with co-counsel,NaN,NaN,NaN
2,NaN,NaN,"regarding availability to serve as trial counsel, review repair order",NaN,NaN,NaN
3,NaN,NaN,history and trial preparation related tasks; Received and reviewed,NaN,NaN,NaN
4,4/23/2018,SD,NaN,o.oo,$ 490.00,NaN
5,NaN,NaN,Notice of Association of Counsel. (No Charge- 0.25 hours),NaN,NaN,NaN
6,NaN,NaN,Receive and review trial countdown from co-counsel Calendared,NaN,NaN,NaN
7,4/24/2018,AP,important deadlines and court hearings.,0.50,$ 75.00,37.50
8,NaN,NaN,Email correspondence with Knight law Group regarding Civil,NaN,NaN,NaN
9,517/2018,AOE,Settlement Conference and deposition. (No Charge - 0.25 Hours),0.00,$ 225.00,NaN
10,NaN,NaN,Review civil settlement conference brief.,NaN,NaN,NaN

1

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Review Repair Order history and client documents in preparation for,NaN,NaN,NaN
1,5/15/2018,EKS,5/17/18 Mandatory Settlement Conference.,1.00,250_00,"250,00"
2,NaN,NaN,Travel to Sacramento for 5.16.18 Mandatory Settlement Conference,NaN,NaN,NaN
3,5/16/2018,EKS,NaN,3.50,250.00,875.00
4,NaN,NaN,"Telephone conference with EKS regarding Case file and X for MSC,",NaN,NaN,NaN
5,NaN,NaN,request for Vehicle inspection dates and Plaintiff deposition dates. (No,NaN,NaN,NaN
6,5/17/2018,AOE,Charge - 0.25 Hours),0.00,225.00,NaN
7,NaN,NaN,Communications w/ Client.,NaN,NaN,NaN
8,5/17/2018,EKS,NaN,0.25,250.00,62.50
9,NaN,NaN,Attend Mandatory Settlement Conference.,NaN,NaN,NaN

2

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Telephone correspondence with Tom Lepper's office regarding the,NaN,NaN,NaN
1,NaN,NaN,"vehicle inspeclion June 18, 2018 and the unavailability ofTom for June",NaN,NaN,NaN
2,6/5/2018,AOE,"18, 2018.",0.25,"225,00",56.25
3,NaN,NaN,Draft Motion in Limine No. 1.,NaN,NaN,NaN
4,6/5/2018,AOE,NaN,0.50,225.00,112.50
5,NaN,NaN,Draft Motion in Limine No. 2.,NaN,NaN,NaN
6,6/5/2018,AOE,NaN,0.25,225.00,56.25
7,NaN,NaN,Draft Motion in Limine No. 3.,NaN,NaN,NaN
8,6/5/2018,AOE,NaN,0.50,225.00,112.50
9,NaN,NaN,Draft Molion in Limine No. 4.,NaN,NaN,NaN

3

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Draft Proposed Special Jury Instructions list.,NaN,NaN,NaN
1,6/8/2018,AOE,NaN,0.25,225.0,56.25
2,NaN,NaN,"Pratt Plaintiffs Trial Brief: draft, cover page, introduction and case",NaN,NaN,NaN
3,6/8/2018,AOE,summary.,1.50,225.0,337.50
4,NaN,NaN,Draft proposed Joint Trial Witness list.,NaN,NaN,NaN
5,6/8/2018,AOE,NaN,0.25,225.0,56.25
6,NaN,NaN,Email correspondence with client.,NaN,NaN,NaN
7,6/8/2018,AOE,NaN,0.25,225.0,56.25
8,NaN,NaN,Receive FCA document production and upload to case file. Review,NaN,NaN,NaN
9,NaN,NaN,"FCA document production, look for duplicate documents note new",NaN,NaN,NaN

4

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Depose DCJ of Vacaville Person Most Qualified and Technician# 78,NaN,NaN,NaN
1,6/14/2018,AOE,(includes travel from Sacramento to Vacaville).,3.75,225.00,843.75
2,NaN,NaN,Finalize and edit Ex Parte Application lo Compel Person Most,NaN,NaN,NaN
3,NaN,AOE,Knowledgeable deposition.,1.50,225.00,337.50
4,6/18/2018,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Receive and review Defendant's Ex Parte Application to compel a,NaN,NaN,NaN
6,NaN,AOE,Vehicle Inspection.,0.25,225.00,56.25
7,6/18/2018,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Strategic meeting with KY regarding Defendant's Ex parte Application.,NaN,NaN,NaN
9,NaN,AOE,(No Charge· 0.25 Hours),0.00,225.00,NaN

5

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Receive and redline proposed stipulation to continue trial from,NaN,NaN,NaN
1,NaN,AOE,opposing counsel.,0.25,225.00,56.25
2,6/21/2018,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Email correspondence with Tom Lepper's office regarding dates for,NaN,NaN,NaN
4,NaN,AOE,vehicle inspection and deposition.,0.25,"225,00",56.25
5,6/21/2018,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,"Email correspondence with opposing counsel, review final stipulation to",NaN,NaN,NaN
7,NaN,AOE,continue and sign stipulation.,0.25,225.00,56.25
8,6/21/2018,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Email correspondence with opposing counsel regarding Tom Lepper's,NaN,NaN,NaN

6

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Telephonic appearance at Ex parte hearing via call to court chambers,NaN,NaN,NaN
1,NaN,AOE,department 47. (includes hold time after 9:00 am hearting time).,0.50,225.0,112.50
2,6/26/2018,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Telephone conference with client.,NaN,NaN,NaN
4,NaN,AOE,NaN,0.50,225.0,112.50
5,6/26/2018,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Draft Meet and confer letter regarding the depositions of Hanlees,NaN,NaN,NaN
7,NaN,AOE,Chrysler personnel.,0.25,225.0,56.25
8,6/26/2018,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Draft hearing results summary for Ex parte stipulation to continue. New,NaN,NaN,NaN

7

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Drafl objection to notice of vehicle inspection.,NaN,NaN,NaN
1,817/2018,AOE,NaN,0.25,225.0,56.25
2,NaN,NaN,Draft Second Amended Notice of deposition of Hanlee Chrysler Person,NaN,NaN,NaN
3,817/2018,AOE,Most Qualified as prior noliced location was unavailable.,0.25,225.0,56.25
4,NaN,NaN,Review status of case file and repair order history; Meeting with AOE,NaN,NaN,NaN
5,8/13/2018,SD,regarding lask lisl to prepare case for trial on 914118.,0.25,490.0,122.50
6,NaN,NaN,Scan and file Time stamped CAIRS to Trial exhibits folder.,NaN,NaN,NaN
7,811412018,AOE,NaN,0.25,225.0,56.25
8,NaN,NaN,Email correspondence wilh Dr. Luna's office regarding Luna's analysis.,NaN,NaN,NaN
9,8/15/2018,AOE,NaN,0.25,225.0,56.25

8

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Defend Tom Lepper deposition includes travel from Sacramento to,NaN,NaN,NaN
1,NaN,NaN,"Roseville, Roseville to Sacramento airport, Sacramento airport to",NaN,NaN,NaN
2,8/23/2018,AOE,Burbank airport and Burbank airport to LA.,7.00,225.0,"1,575.00"
3,NaN,NaN,Print documents and review repair orders for Hanlee Chrysler,NaN,NaN,NaN
4,8/24/2018,AOE,NaN,NaN,NaN,NaN
5,NaN,NaN,depositions,1.50,225.0,337.50
6,NaN,NaN,Email correspondence with Dr. Luna's office regarding trial date and,NaN,NaN,NaN
7,8/27/2018,AOE,Tom Lepper's deposition.,0.25,225.0,56.25
8,NaN,NaN,Email correspondence with opposing counsel regarding Hanlee dealer,NaN,NaN,NaN
9,8/27/2018,AOE,depositions and non-appearance.,0.25,225.0,56.25

9

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Draft hearing results summary for trial call and stipulated ex parte to,NaN,NaN,NaN
1,9/612018,AOE,continue.,0.25,225.0,56.25
2,NaN,NaN,Draft hearing results summary for Mandalory Settlement conference.,NaN,NaN,NaN
3,91612018,AOE,,0.25,225.0,56.25
4,NaN,NaN,Draft amended subpoenas to appear at trial.,NaN,NaN,NaN
5,912712018,AOE,,0.25,225.0,56.25
6,NaN,NaN,Update deposition location for Jeff Richards deposition send amended,NaN,NaN,NaN
7,1011/2018,AOE,notice lo opposing counsel.,0.25,225.0,56.25
8,10/212018,AOE,Appear for deposition of Jeff Richards and take non-appearance.,1.00,225.0,225.00
9,NaN,NaN,Drafl Motion to exclude defendant's expert at trial.,NaN,NaN,NaN

10

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Telephonic conference with client regarding Ex-Parte Application to,NaN,NaN,NaN
1,NaN,NaN,"continue hearing results, new trial and MSC dates, strategy moving",NaN,NaN,NaN
2,11/9/2018,LSC,forward and possible outcomes.,0.50,350.00,175.00
3,NaN,NaN,Draft email to client.,NaN,NaN,NaN
4,11/9/2018,LSC,,0.25,350.00,87.50
5,NaN,NaN,"Meeting with SD regarding Trial on May 7, and any outstanding",NaN,NaN,NaN
6,12/10/2018,LSC,discovery issues.,0.75,350.00,262.50
7,NaN,NaN,Draft MSC Statement.,NaN,NaN,NaN
8,3/25/2019,LSC,,1.50,385.00,"577,50"
9,NaN,NaN,"Meet with SD regarding status of the case, Trial readiness, outstanding",NaN,NaN,NaN

11

,Date,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,NaN,Draft Letter lo Scott Shepardson Regarding incidental and,NaN,NaN,NaN
1,5/2/2019,LCM,consequential damages including drafting excel spreadsheet showing,0.75,275.0,206.25
2,NaN,NaN,the same.,NaN,NaN,NaN
3,NaN,NaN,Meet with SD lo go over possible damages and possible settlement,NaN,NaN,NaN
4,5/2/2019,LSC,strategy.,0.75,385.0,288.75
5,NaN,NaN,Call with Client to discuss rental cars obtained throughout ownership,NaN,NaN,NaN
6,5/2/2019,LSC,and research on records.,0.50,385.0,192.50
7,NaN,NaN,Call with Client's father to discuss rental cars and settlement/trial,NaN,NaN,NaN
8,5/2/2019,LSC,NaN,NaN,NaN,NaN
9,NaN,NaN,status.,0.25,385.0,96.25

12

,Name,Descripcion,Hours,Rate/Hour,Total
0,NaN,AUend hearing on Motlon for Attorney's Fees and Costs and Expenses,NaN,NaN,NaN
1,LSC,CTncluding travel). (Anlicipat$d).,6.0,385.0,"2,310.00"

## Separar horas de la descripción.

In [121]:
import re as regex


def separador(string):
    hours = regex.findall(r'\d\.\d{2}', string)
    if hours:
            hours = hours.pop(0)
            string = string.replace(hours, '')
    else:
        hours = np.NaN
    
    string = string.lstrip()
    return string, hours

In [116]:
df[9].dropna(subset=[2], inplace=True)
aux = df[9]
aux = aux.apply(lambda x: separador(x[2]), axis=1)
aux = pd.Series(aux).apply(pd.Series)
aux

,0,1
0,Draft hearing results summary for trial call and stipulated ex parte to,NaN
1,continue.,0.25
2,Draft hearing results summary for Mandalory Settlement conference.,NaN
3,,0.25
4,Draft amended subpoenas to appear at trial.,NaN
5,,0.25
6,Update deposition location for Jeff Richards deposition send amended,NaN
7,notice lo opposing counsel.,0.25
8,Appear for deposition of Jeff Richards and take non-appearance.,1.00
9,Drafl Motion to exclude defendant's expert at trial.,NaN
10,,4.00
11,Meeting with Asa Eaton regarding litigation strategy for Defendant's,NaN
12,expert in light of deposition history.,0.50
13,Email Correspondence with opposing counsel regarding the,NaN
14,Scheduling of Jeff Richards Deposition.,0.25
16,"Review and finalize Melian to Exclude Defendant's expert, Jeff",NaN
17,Richards.,0.50
18,Draft motion to compel Jeff Richards deposition.,NaN
19,,4.00
20,Meeting with ASA Eaton to go over entire case as the file will be shifted,NaN
21,tome.,1.00
22,Prepared Notice of Deposition for Defendant's Expert.,NaN
23,,0.25
24,Review email from Opposing Counsel offering date for deposition of,NaN
25,Jeff Richard. Discussion with AP regarding same and request for,0.50
26,research.,NaN
27,Review of nolice of deposilion.,NaN
28,,0.25
29,Draft email to opposing counsel regarding Lead Trial Counsel,NaN
30,availability.,0.25
31,Drafl Ex Parte Notice.,NaN
32,,0.50
33,"Receive and review email from Scott Shepardson, research and",NaN
34,response to the same.,0.25
35,Draft Stipulation to Continue.,NaN
36,,1.00
37,Telephonic Conference with court clerk regarding ex parte to continue.,NaN
38,,0.50
39,Draft Ex Parte Application to Continue Trial or shorten lime on motion,NaN
40,to conlinue including Drafting Declarations and assembling exhibits.,4.00
41,Review of Opposing Counsel's Revisions to Slipulation to Continue,NaN
42,revise and return.,0.50
43,Draft Notice of Motion and Motion to Conlinue Trial including Drafting,NaN
44,Declarations and assembling exhibits.,4.50
45,Travel and appear for Ex parte application to continue including two,NaN
46,trips top filing clerk before and after order GRANTING Plaintiffs ex-,NaN
47,parte motion.,2.50
48,Drafl hearing summary.,NaN
49,,0.50

In [118]:
df[9].insert(3, 'new-col', aux.loc[:, 1])
df[9][2] = aux[0]

In [123]:
pd.set_option('display.max_colwidth', -1)  #Veo hasta la última palabra

df[10].dropna(subset=[2], inplace=True)
aux = df[10]
aux = aux.apply(lambda x: separador(x[2]), axis=1)
aux = pd.Series(aux).apply(pd.Series)
aux

,0,1
0,Telephonic conference with client regarding Ex-Parte Application to,NaN
1,"continue hearing results, new trial and MSC dates, strategy moving",NaN
2,forward and possible outcomes.,0.50
3,Draft email to client.,NaN
4,,0.25
5,"Meeting with SD regarding Trial on May 7, and any outstanding",NaN
6,discovery issues.,0.75
7,Draft MSC Statement.,NaN
8,,1.50
9,"Meet with SD regarding status of the case, Trial readiness, outstanding",NaN
10,"discovery, and strategy moving forward.",0.50
11,Meeting with LSC re: status of case and trial preparation tasks;,NaN
12,Reviewed repair orders and trial preparation task list; Prepared final list,NaN
13,of work for trial preparation.,0.50
14,Call with reporting company regarding transcripts of Expert Tom,NaN
15,S Lepper.,0.50
16,Call with Phillip Reznick regarding TIPM documents specific Plaintiff's,NaN
17,vehicle.,0.50
18,Call with Epiq Court reporters an a second attempt to get transcripts.,NaN
19,,0.50
20,Call with Lepper's office regarding new research Tom has done,NaN
21,regarding TIPM Issue sin 2013 Wranglers.,1.25
22,Call with client regarding trial call and preparation.,NaN
23,,0.50
24,Preparation for Mandatory Settlement Conference.,NaN
25,,1.00
26,Travel to Sacramento for hearing on MSC Leave office at 9:00 am to,NaN
27,"arrive at BUR at 10:00 am for flight to SMF, rent car and travel to MSC",NaN
28,"at 1: 30. Attend MSC until 3:00 p.m. Return o Airport for flight at 6:00, 1",5.50
29,arrive BUR at 7:30 p.m. Arrive at Office at 8:30 p.m.,NaN
30,Review of Motions in Limine prior to exchange.,NaN
31,,0.50
32,Review of Motions in Limine prior to exchange.,NaN
33,,0.50
34,Call with client to go deep into consequential and incidental damages.,NaN
35,,1.00
36,Research into all documents to find further incidental and,NaN
37,consequential damages.,1.50
38,Call with client to go deep into consequential and incidental damages.,NaN
39,,1.00
40,Research into all documents to find further incidental and,NaN
41,consequential damages.,1.50
42,Meet with SD to go over possible damages and possible settlement,NaN
43,"strategy,",0.75
44,Call with Client to discuss rental cars obtained throughout ownership,NaN
45,"and research on records. 0,50",NaN
46,Call with Client's father to discuss rental cars and setuemenUtrial,NaN
47,27 status. 0.25,5.00
48,Find exhibits to support damage calculation and begin to draft Excel,NaN
49,plead sheet.,0.75

In [124]:
df[10].insert(3, 'new-col', aux.loc[:, 1])
df[10][2] = aux[0]

# Renombrando las columnas

In [131]:
for dfs in df[0:11]:
    dfs.columns = ['Date', 'Name', 'Descripcion', 'Hours', 'Rate/Hour','Total']
df[12].columns = ['Name', 'Descripcion', 'Hours', 'Rate/Hour','Total']

In [140]:
df[0].drop([0], inplace=True)

In [238]:
aux = pd.concat(df, ignore_index=True, sort=False)

In [193]:
aux['Date'].isna().sum()
aux['Name'].isna().sum()
aux['Hours'].isna().sum()

370

367

368

# Date

In [367]:
Date = aux['Date'].dropna()
for num, date in enumerate(Date):
    print(num, date)

0 4/23/2018
1 4/24/2018
2 517/2018
3 517/2018
4 5/8/2018
5 5/8/2018
6 5/8/2018
7 5/8/2018
8 5/9/2018
9 5/9/2018
10 5/9/2018
11 5/15/2018
12 5/15/2018
13 5/16/2018
14 5/17/2018
15 5/17/2018
16 5/17/2018
17 5/24/2018
18 5/25/2018
19 5/25/2018
20 5/25/2018
21 5/25/2018
22 5/25/2018
23 6/4/2018
24 6/4/2018
25 6/4/2018
26 6/4/2018
27 6/4/2018
28 6/4/2018
29 6/5/2018
30 6/5/2018
31 6/5/2018
32 6/5/2018
33 6/5/2018
34 6/5/2018
35 6/5/2018
36 6/5/2018
37 6/5/2018
38 6/5/2018
39 6/5/2018
40 6/5/2018
41 6/5/2018
42 6/5/2018
43 6/5/2018
44 6/6/2018
45 6/6/2018
46 6/6/2018
47 6/6/2018
48 6/6/2018
49 6/6/2018
50 6/6/2018
51 6/6/2018
52 6/6/2018
53 6/8/2018
54 6/8/2018
55 6/8/2018
56 6/8/2018
57 6/8/2018
58 6/8/2018
59 6/8/2018
60 6/8/2018
61 6/11/2018
62 6/11/2018
63 6/12/2018
64 6/12/2018
65 6/12/2018
66 6/12/2018
67 6/12/2018
68 6/12/2018
69 6/12/2018
70 6/12/2018
71 6/12/2018
72 6/12/2018
73 6/12/2018
74 6/12/2018
75 6/13/2018
76 6/13/2018
77 6/14/2018
78 6/18/2018
79 6/18/2018
80 6/18/2018
81 6/18/2018
82 6/18/2018
83 6/18/2018
84 6/18/2018
85 6/18/2018
86 6/18/2018
87 6/18/2018
88 6/18/2018
89 6/18/2018
90 6/18/2018
91 6/20/2018
92 6/20/2018
93 6/21/2018
94 6/21/2018
95 6/21/2018
96 6/21/2018
97 6/21/2018
98 6/23/2018
99 6/23/2018
100 6/23/2018
101 6/23/2018
102 6/23/2018
103 6/23/2018
104 6/23/2018
105 6/23/2018
106 6/23/2018
107 6/23/2018
108 6/23/2018
109 6/23/2018
110 6/25/2018
111 6/25/2018
112 6/25/2018
113 6/25/2018
114 6/25/2018
115 6/26/2018
116 6/26/2018
117 6/26/2018
118 6/26/2018
119 6/26/2018
120 6/26/2018
121 7/5/2018
122 7/5/2018
123 7/10/2018
124 7/11/2018
125 7/11/2018
126 7/11/2018
127 7/12/2018
128 7/12/2018
129 7/17/2018
130 7/20/2018
131 7/25/2018
132 7/25/2018
133 8/1/2018
134 8/1/2018
135 8/1/2018
136 8/6/2018
137 8/6/2018
138 8/7/2018
139 817/2018
140 817/2018
141 8/13/2018
142 811412018
143 8/15/2018
144 8/15/2018
145 8/15/2018
146 8/15/2018
147 8/15/2018
148 8/16/2018
149 8/16/2018
150 8/16/2018
151 8/16/2018
152 8/16/2018
153 8/16/2018
154 8/20/2018
155 8/20/2018
156 8/20/2018
157 8/21/2018
158 8/21/2018
159 8/21/2018
160 8/21/2018
161 8/21/2018
162 8/22/2018
163 8/23/2018
164 8/24/2018
165 8/27/2018
166 8/27/2018
167 8/28/2018
168 8/28/2018
169 8/28/2018
170 8/30/2018
171 8/30/2018
172 8/30/2018
173 8/31/2018
174 8/3112018
175 8/3112018
176 8131/2018
177 8/3112018
178 8131/2018
179 8/3112018
180 8/3112018
181 9/312018
182 914/2018
183 91412018
184 91412018
185 9/5/2018
186 91512018
187 9/612018
188 91612018
189 912712018
190 1011/2018
191 10/212018
192 10/8/2018
193 1018/2018
194 10/9/2018
195 10/912018
196 10/17/2018
197 10125/2018
198 10/29/2018
199 10/29/2018
200 10/2912018
201 11/112018
202 11/112018
203 111112018
204 11/212018
205 11/212018
206 11/512018
207 1115/2018
208 111512018
209 11/612018
210 11/7/2018
211 11/9/2018
212 11/9/2018
213 12/10/2018
214 3/25/2019
215 3/25/2019
216 3/26/2019
217 3/28/2019
218 4/2/2019
219 4/2/2019
220 4/2/2019
221 4/6/2019
222 4/9/2019
223 4/10/2019
224 4/26/2019
225 4/26/2019
226 5/1/2019
227 5/1/2019
228 5/1/2019
229 5/1/2019
230 5/2/2019
231 5/2/2019
232 5/2/2019
233 5/2/2019
234 5/2/2019
235 5/2/2019
236 5/2/2019
237 5/2/2019
238 5/2/2019
239 5/2/2019
240 5/2/2019
241 5/3/2019
242 5/3/2019
243 5/3/2019
244 5/3/2019
245 5/3/2019
246 5/7/2019
247 5/7/2019
248 5/7/2019
249 5/7/2019
250 7/12/2019
251 7/12/2019

In [189]:
Date.size

252

# Name

In [188]:
Name = aux['Name'].dropna()
for name in Name:
    print(name)

SD
AP
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
EKS
EKS
EKS
AOE
EKS
EKS
EKS
AOE
AOE
AOE
AOE
EKS
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
KJ
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
LCM
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
SD
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
AOE
LSC
AOE
KJ
AOE
LSC
AP
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
so
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LCM
LSC
LCM
LCM
LSC
LSC
LCM
LCM
LCM
LCM
LCM
LSC
LSC
LSC
LSC
LSC
SD
LCM
LCM
LSC
LSC
SD
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC
LSC

255

In [190]:
Name.size

255

# Hours

In [185]:
Hours = aux['Hours'].dropna().reset_index(drop=True)
Hours = Hours.apply(str)
Hours = Hours.apply(lambda x: x.replace(',', '.'))
Hours[0] = 0
Hours = Hours.apply(float)
Hours.size

254

# Rate/Hour

In [208]:
Rate = aux['Rate/Hour'].dropna().reset_index(drop=True)
Rate = Rate.apply(str)
Rate = Rate.apply(lambda x: x.replace('_', '.'))
Rate = Rate.apply(lambda x: x.replace('$', ''))
Rate = Rate.apply(lambda x: x.replace(',', '.'))
Rate = Rate.apply(float)

for raze in Rate:
    print(raze)

490.0
75.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
250.0
250.0
250.0
225.0
250.0
250.0
250.0
225.0
225.0
225.0
225.0
250.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
250.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
250.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
490.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
22500.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
225.0
350.0
225.0
250.0
225.0
350.0
75.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
385.0
385.0
550.0
385.0
385.0
385.0
385.0
385.0
385.06
385.0
275.0
385.0
275.0
275.0
385.0
385.0
275.0
275.0
275.0
275.0
385.0
385.0
385.0
385.0
385.0
550.0
275.0
275.0
385.0
385.0
550.0
385.0
385.0
385.0
385.0
385.0
385.0
385.0
385.0
385.0

In [211]:
Rate.size

254

# Total

In [235]:
import numpy as np
import re as regex

def to_float(string):
    try:
        float(string)
    except:
        aux = regex.findall(r'\d\.\d{3}', string)
        if aux:
            aux[0] = aux[0].replace('.', '')
            string = float(aux[0])
        else:
            string = np.NaN
    print(string)
    return string

aux['Total'].isna().sum()
Total = aux['Total'].dropna().reset_index(drop=True)
Total.size
Total = Total.apply(str)
Total = Total.apply(lambda x: x.replace('_', '.'))
Total = Total.apply(lambda x: x.replace('$', ''))
Total = Total.apply(lambda x: x.replace(',', '.'))
Total = Total.apply(to_float)
# for total in Total:
#     print(total)

373

249

37.50
56.25
112.50
168.75
112.50
112.50
56.25
56.25
187.50
250.00
875.00
62.50
750.00
62.50
56.25
56.25
56.25
56.25
62.50
56.25
nan
56.25
337.50
56.25
56.25
56.25
56.25
562.50
56.25
56.25
112.50
56.25
112.50
112.50
112.50
112.50
112.50
112.50
337.50
56.25
112.50
56.25
56.25
337.50
56.25
56.25
225.00
225.00
56.25
56.25
56.25
56.25
337.50
56.25
56.25
281.25
nan
112.50
56.25
225.00
112.50
168.75
56.25
56.25
675.00
112.50
56.25
56.25
56.25
900.00
225.00
562.50
843.75
337.5
56.25
112.5
900.0
112.5
337.5
675.0
225.0
56.25
56.25
56.25
250.0
56.25
112.5
56.25
675.0
56.25
56.25
56.25
56.25
56.25
56.25
112.5
112.5
56.25
56.25
450.0
56.25
337.5
56.25
56.25
56.25
56.25
56.25
56.25
62.5
112.5
112.50
112.50
56.25
56.25
56.25
56.25
56.25
56.25
56.25
337.50
1125.0
56.25
1575.0
56.25
56.25
56.25
56.25
56.25
56.25
56.25
56.25
56.25
56.25
56.25
56.25
122.5
56.25
56.25
225.0
56.25
56.25
112.5
56.25
56.25
112.5
56.25
112.5
337.5
450.0
56.25
56.25
56.25
56.25
56.25
56.25
900.0
675.0
1575.0
337.50
56.25
56.25
787.50
225.00
56.25
56.25
337.50
56.25
56.25
56.25
56.25
56.25
337.50
112.50
56.25
56.25
675.00
225.00
843.75
562.50
56.25
56.25
56.25
56.25
56.25
56.25
225.00
900.00
175.00
56.25
125.00
900.00
350.00
18.75
175.00
87.50
87.50
175.00
87.50
350.00
175.00
1400.0
175.00
1575.0
875.00
175.00
175.00
87.50
262.50
577.50
192.50
275.00
192.50
192.50
192.50
481.25
192.50
385.00
5967.0
137.50
192.50
275.00
412.50
385.00
577.50
206.25
137.50
68.75
206.25
206.25
288.75
192.50
96.25
288.75
288.75
137.50
275.00
275.00
385.00
385.00
137.50
1809.0
577.50
962.50
2310.0
2021.0
577.50
385.00
2117.0
2310.0

# Descripciones

In [408]:
Descripcion = aux['Descripcion'].dropna().reset_index(drop=True)
filterx = [True if len(x) == 0 else False for x in Descripcion]
Descripcion[filterx].index
Descripcion.drop(labels = Descripcion[filterx].index, inplace=True)
Descripcion.size

Int64Index([356, 358, 363, 371, 375, 380, 384, 388, 390, 401, 406, 410, 421,
            425, 427, 433, 435, 437, 441],
           dtype='int64')

477

In [1]:
rows_per_row = [
    4,2,2,1,3,2,1,2,3,3,3,1,2,1,3,1,1,2,2,2,2,2,1,2,3,2,1,1,2,2,3,2,  # 31
    2,2,3,1,1,1,1,1,1,1,1,3,2,1,2,2,5,2,2,4,2,2,1,2,1,2,1,1,4,3,3,2,  # 63
    3,3,1,1,2,3,1,2,2,2,2,2,1,2,2,2,2,3,3,2,2,1,2,3,4,4,2,3,3,1,4,2,  # 95
    2,2,4,1,1,1,1,2,2,1,2,3,1,1,2,2,3,2,2,3,2,1,2,2,2,2,2,2,1,1,3,1,  # 127
    
    3  ,2,2,2,1,1,2,2,2,1,1,1,2,2,1,1,1,2,2,2,1,1,1,1,1,1,1,2,1,2,2,  # 159
    2,2,3,1,3,2,2,2,3,2,2,2,1,2,1,1,2,1,1,1,1,1,2,2,3,1,1,2,2,1,1,2,  # 191
    1,1,2,2,2,1,2,1,3,1,2,1,2,1,1,2,2,2,3,1,3,1,2,1,2,3,2,2,1,2,1,1,  # 223
    4,1,1,1,2,1,2,2,2,2,2,3,2,2,2,2,3,1,1,1,1,1,1,3,1,3,3,4,3,3,2,2   # 255  
]

x = 0
for row, count in enumerate(rows_per_row):
    print(*Descripcion[x:count+x])
    x += count

# len(rows_per_row)
# Descripcion = aux['Descripcion'].dropna().reset_index(drop=True)
# Descripcion.size
# Descripcion[4+2:4+2+2]
# # for item in Descripcion:
# #     print(item)

NameError: name 'Descripcion' is not defined