In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [143]:
import tabula
from tabula import read_pdf
import numpy as np
import pandas as pd
import re as regex
df = read_pdf('1088888.pdf', guess=False, stream=True, pages='all', multiple_tables=True,  pandas_options={'header':None})

In [144]:
pd.set_option('display.max_colwidth', -1)  #Veo hasta la última palabra
pd.set_option('display.max_rows', 1000)

In [145]:
df[0] = df[0].drop(df[0].head(12).index, axis=0)
df[0] = df[0].reset_index(drop=True)

In [146]:
df[7].loc[6, 0] = '4/26/2017 ARS'

In [147]:
df = [x.dropna(axis=1, how='all') for x in df]
for df_aux in df:
    df_aux.columns = np.arange(0, len(df_aux.columns), 1)

In [148]:
lista_head_drop = []
for dfs in df[1:]:
    dfs.loc[:, 0] = dfs.loc[:, 0].apply(str)
    filtery = [True if regex.search(r'\d{1,2}/\d{1,2}/\d{2,4}', x) else False for x in dfs.loc[:, 0]]
    # finding first True value 
    # USA GENERADORES
    # using next() and enumerate() 
    pos = next((i for i, j in enumerate(filtery) if j), None) 
    lista_head_drop.append(pos)
    dfs.loc[:, 0] = dfs.loc[:, 0].replace('nan', np.NaN)

In [149]:
for item in lista_head_drop:
    print(item)

6
5
6
6
6
6
6
6
6
6
6
6
6
6

In [150]:
for i, dfs in enumerate(df[1:], start=1):
    df[i] = df[i].drop(df[i].head(lista_head_drop[i-1]).index, axis=0)

In [151]:
df = [x.drop(x.tail(2).index, axis=0) for x in df]

In [152]:
df[14] = df[14].loc[6:31, :]

In [153]:
df = [x.reset_index(drop=True) for x in df]

In [187]:
df[13].loc[26, 1] = '0.50 162.50'

In [196]:
df[2].loc[24, 0] = 'EJ Review email from Lisa Tudzin (NP) regarding availability of Cerritos 0.10 17.50'
df[2].loc[25, 0] = 'Dodge for depositions 175.00/hr'

In [154]:
def Organizador(df, rows_numbs=None, split_numbs=None):
    for row_num, split_num in zip(rows_numbs, split_numbs):
        aux = df.loc[row_num, 0].split(' ', maxsplit = split_num)
        date = ''
        if split_num == 1:
            name = aux[0]
            string = aux[1]

        elif split_num == 2:
            date = aux[0]
            name = aux[1]
            string = aux[2]
        else:
            raise ValueError('Split no válido')

        if pd.isna(df.loc[row_num, 1]):
            df.loc[row_num, 1] = string
            df.loc[row_num, 0] = date + ' ' + name if date else name
        else:
            df.loc[row_num, 1] = string + ' ' + df.loc[row_num, 1]
            df.loc[row_num, 0] = date + ' ' + name if date else name

In [156]:
Organizador(df[3], [22], [2])
Organizador(df[4], [24], [2])
Organizador(df[5], [8, 10], [2, 1])
Organizador(df[6], [10, 12, 14, 16, 23], [2, 2, 1, 2, 2])        
Organizador(df[7], [8, 10], [1, 1])   
Organizador(df[8], [4, 32], [1, 1])
Organizador(df[9], [6], [2])
Organizador(df[11], [23, 25, 27], [2, 1, 1])
Organizador(df[12], [12, 14, 16], [2, 1, 1])                             
Organizador(df[14], [24], [2])

In [180]:
for i in range(len(df)):
    print(i)
    df[i].head(3)

0

,0,1
0,2/27/2017 RMW Receive and review RO Summary and trial countdown; Receive and review,0.50 250.00
1,NOA,500.00/hr
2,3/1/2017 RMW Review and analyze client files,1.50 750.00

1

,0,1,2
0,3/20/2017 ARS,"Draft, review and revise motion in limine number 2",0.50 162.50
1,NaN,NaN,325.00/hr
2,ARS,"Draft, review and revise motion in limine number 3",0.50 162.50

2

                                                                                                        0
0  3/22/2017 ARS Draft, review and revise email to client 0.10 32.50
1  325.00/hr
2  3/23/2017 ARS Travel to and from and attend deposition of client at Nixon Peabody in Los 9.00 2,925.00

3

,0,1,2
0,4/4/2017 ARS,"Draft, review and revise draft joint special verdict form",0.80 260.00
1,NaN,NaN,325.00/hr
2,ARS,"Draft, review and revise joint witness list draft",0.80 260.00

4

,0,1
0,4/7/2017 EJ,Telephone conference with Linda Petty (Barbara Luna's office) regarding 0.10 17.50
1,NaN,rescheduling deposition of Barbara Luna to 4-17-17 per Lisa Tudzin (NP)'s 175.00/hr
2,NaN,request

5

,0,1,2
0,4/13/2017 ARS,"Draft, review and revise multiple email to client",0.20 65.00
1,NaN,NaN,325.00/hr
2,ARS,Review multiple emails from Venita McMorris at Luna's office regarding,0.3 97.50

6

,0,1
0,4/21/2017 EJ,"Draft, prepare, and serve Plaintiffs Objections to Defendants' 2nd 0.20 35.00"
1,NaN,Amended Notice of Deposition of Blasjo (4-25-17) 175.00/hr
2,EJ,"Draft, prepare, and serve Amended Notice of Deposition of FCA's expert 0.20 35.00"

7

,0,1
0,4/26/2017 ARS,Review email from Venita McMorris at Luna's office regarding Luna's 0.10 32.50
1,NaN,deposition transcript 325.00/hr
2,ARS,"Draft, review and revise email to Venita McMorris at Luna's office regarding 0.10 32.50"

8

,0,1
0,4/29/2017 LBS,"Draft, review and revise exhibit list to include all of Doctor Luna's exhibits 0.50 125.00"
1,NaN,from declaration 250.00/hr
2,LBS,"Draft, review and revise damages spreadsheet 1.30 325.00"

9

,0,1,2
0,4/30/17 RMW,Prepare for trial,"5.00 2,500.00"
1,NaN,NaN,500.00/hr
2,ARS,"Draft, review and revise email to Venita McMorris at Luna's office regarding",0.10 32.50

10

,0,1
0,5/1/17 ARS,"Draft, review and revise email to opposing counsel Shepardson regarding 0.20 65.00"
1,NaN,"edited verdict form, mileage offset and payment to Jeep agreement 325.00/hr"
2,ARS,"Draft, review and revise verdict form taking out separation between each 0.20 65.00"

11

,0,1
0,5/1/17 ARS,Review email from opposing counsel Shepardson regarding special verdict 0.20 65.00
1,NaN,form; Review verdict form; draft email requesting clarification 325.00/hr
2,ARS,Review email from opposing counsel Shepardson regarding Stipulation to 0.20 65.00

12

,0,1,2
0,5/2/2017 ARS,"Draft, review and revise email to client",0.10 32.50
1,NaN,NaN,325.00/hr
2,ARS,"Draft, review and revise email to opposing counsel Shepardson regarding",0.10 32.50

13

                           0              1
0  5/4/2017 RMW Attend Trial  3.00 1,500.00
1  NaN                        500.00/hr
2  RMW Prepare for trial      1.50 750.00

14

,0,1
0,8/7/2017 ARS,"Draft, review and revise draft declaration for Luna to file with opposition to 0.20 65.00"
1,NaN,motion to tax costs 325.00/hr
2,ARS,"Draft, review and revise email to Luna regarding declaration to attach to 0.20 65.00"

In [205]:
%run ./FUNCIONES.ipynb

In [206]:
df_aux = []
rpr = [
    [2,1,1,1,1,1,1,2,1,1,2],
    [1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2],
    [1,2,2,1,1,2,2,2,1,2,2,2,2,1,1,1],
    [1,1,1,1,2,1,1,2,2,2,2,1,3,2,2],
    [3,2,2,1,2,1,1,1,2,2,3,1,1],
    [1,2,1,1,1,2,1,1,2,1,2,2,2,2],
    [2,2,1,2,1,1,1,1,2,1,1,1,2,2],
    [2,2,1,1,1,1,2,2,1,2,2,2,2,2],
    [2,1,2,1,1,1,2,2,2,2,2,1,2,1,1,1,1],
    [1,2,1,1,2,2,2,2,2,1,2,2,2,2,2,2,2],
    [2,2,1,2,2,2,2,1,2,1,2,2,2,2,2],
    [2,2,1,2,1,2,2,2,2,3,1,1,1,1,2,2,1],
    [1,2,2,2,1,1,1,1,1,2,1,2,2,2,1,1],
    [1,1,1,1,1,1,1,2,1,1,1,1,1,1,2,1],
    [2,2,2,2,2,1,2,1,1,2,1,2,2]  
]
for i, dfs in enumerate(df):
    if len(dfs.columns) == 1:
        print(i, '0')
        df_aux.append(dndhrt(dfs, rpr[i]))
    elif len(dfs.columns) == 2:
        print(i, '0 1')
        if i!=0 and i!=13:
            df_aux.append(dn_dhrt(dfs, rpr[i]))
        else:
            df_aux.append(dnd_hrt(dfs, rpr[i]))
    elif len(dfs.columns) == 3:
        print(i, '0 1 2')
        df_aux.append(dn_d_hrt(dfs, rpr[i]))
    else:
        raise ValueError()

0 0 1
1 0 1 2
2 0
3 0 1 2
4 0 1
0     4/7/2017
1     4/7/2017
2     4/10/2017
3     4/11/2017
4     4/12/2017
5     4/12/2017
6     4/12/2017
7     4/12/2017
8     4/12/2017
9     4/12/2017
10    4/12/2017
11    4/13/2017
12    4/13/2017
dtype: object 0     EJ
1     EJ
2     EJ
3     EJ
4     EJ
5     EJ
6     ARS
7     ARS
8     EJ
9     EJ
10    EJ
11    RMW
12    ARS
dtype: object 0     Telephone conference with Linda Petty (Barbara Luna's office) regarding  rescheduling deposition of Barbara Luna to 4-17-17 per Lisa Tudzin (NP)'s  request
1     Send to Plaintiffs' Expert Barbara Luna documents for expert deposition  (4-13-17)
2     Draft, prepare, and serve Plaintiff's Objections to Notice of Deposition of  experts (4 -13-17)
3     Draft, prepare, and serve Notice regarding Financial Info
4     Draft, prepare, and serve Plaintiff's Objections to Amended Notice of  Deposition of Barbara Luna (4-17-17)
5     Prepare Final Status Conference binder
6     Review email from client regarding additional paperwork
7     Three phone calls with client regarding status
8     Draft email to Lisa Tudzin (NP) regarding amended Notice of Deposition of  Barbara Luna (4-17-17)
9     Draft email to Lisa Tudzin (NP) regarding availability of Cerritos Dodge for  deposition
10    Draft email to Lisa Tudzin (NP) regarding unavailability of Darrell Blasjo for  deposition on 4-19-17 and met and conferred regarding expert deposition  coordination
11    Prepare for, travel to and from and attend final status conference
12    Review email from client; respond to same
dtype: object 0     0.1
1     0.3
2     0.3
3     0.4
4     0.3
5     0.4
6     0.1
7     0.9
8     0.1
9     0.1
10    0.1
11    8.0
12    0.2
dtype: float64 0     175.0
1     175.0
2     175.0
3     175.0
4     175.0
5     175.0
6     325.0
7     325.0
8     175.0
9     175.0
10    175.0
11    500.0
12    325.0
dtype: float64 0     17.5
1     52.5
2     52.5
3     70.0
4     52.5
5     70.0
6     32.5
7     292.5
8     17.5
9     17.5
10    17.5
11    4000.0
12    65.0
dtype: float64
5 0 1 2
6 0 1
0     4/21/2017
1     4/21/2017
2     4/21/2017
3     4/21/2017
4     4/21/2017
5     4/22/2017
6     4/23/2017
7     4/23/2017
8     4/24/2017
9     4/24/2017
10    4/24/2017
11    4/25/2017
12    4/25/2017
13    4/26/2017
dtype: object 0     EJ
1     EJ
2     EJ
3     EJ
4     ARS
5     RMW
6     RMW
7     RMW
8     RMW
9     ARS
10    ARS
11    RMW
12    ARS
13    RE
dtype: object 0     Draft, prepare, and serve Plaintiffs Objections to Defendants' 2nd  Amended Notice of Deposition of Blasjo (4-25-17)
1     Draft, prepare, and serve Amended Notice of Deposition of FCA's expert  (4-27-17)
2     Draft, prepare, and serve civil subpoenas and on-call agreements
3     Email serve documents to be produced at Darrell Blasjo's expert deposition  (4-25-17)
4     Draft, review and revise email to client regarding status, schedule
5     Review file and prepare trial strategy
6     Review depositions
7     Prepare outline for trial; witness schedule; review exhibits
8     Draft preliminary outlines for witnesses; Outline strategy for fraud  presentation
9     Review email from client
10    Draft, review and revise email to client
11    Draft preliminary opening outlines
12    Travel to and from and attend deposition of Darrell Blasjo at Nixon  Peabody in Los Angeles
13    Prepare deposition binders and exhibits for Person most knowledgeable  deposition
dtype: object 0     0.2
1     0.2
2     0.5
3     0.1
4     0.1
5     6.0
6     4.0
7     5.0
8     4.5
9     0.1
10    0.1
11    5.0
12    7.0
13    0.1
dtype: float64 0     175.0
1     175.0
2     175.0
3     175.0
4     325.0
5     500.0
6     500.0
7     500.0
8     500.0
9     325.0
10    325.0
11    500.0
12    325.0
13    175.0
dtype: float64 0     35.0
1     35.0
2     87.5
3     17.5
4     32.5
5     3000.0
6     2000.0
7     2500.0
8     2250.0
9     32.5
10    32.5
11    2500.0
12    2275.0
13    17.5
dtype: float64
7 0 1
0     4/26/2017
1     4/26/2017
2     4/26/2017
3     4/27/2017
4     4/27/2017
5     4/27/2017
6     4/27/2017
7     4/28/2017
8     4/28/2017
9     4/28/2017
10    4/28/2017
11    4/28/2017
12    4/28/2017
13    4/28/2017
dtype: object 0     ARS
1     ARS
2     ARS
3     RE
4     RMW
5     RMW
6     ARS
7     RE
8     ARS
9     ARS
10    ARS
11    ARS
12    ARS
13    ARS
dtype: object 0     Review email from Venita McMorris at Luna's office regarding Luna's  deposition transcript
1     Draft, review and revise email to Venita McMorris at Luna's office regarding  Luna's deposition transcript
2     Draft, review and revise email to client
3     Preparing and bates stamping exhibits for trial
4     Receive and review FCA oppositions to Ml Ls
5     Receive and review notices of depositions for clients
6     Travel to and from and attend deposition of FCA's expert Richard Schmidt  in Los Angeles
7     Preparing exhibit binders for trial for counsel, judge, judge's assistant, and  witness.
8     Phone call with court clerk regarding phone conference with Judge Linfield
9     Phone call with court clerk regarding phone conference with Judge Linfield,  court schedule,
10    Draft, review and revise email to opposing counsel regarding conference  call with Judge Linfield
11    Review email from opposing counsel Tudzin regarding schedule, phone  conference with Judge Linfield
12    Draft, review and revise email to opposing counsel Livedalen regarding  conference with Judge Linfield; reviewed response and drafted email
13    Phone conference with Judge Linfield and opposing counsel Livedalen  regarding start of trial now Tuesday
dtype: object 0     0.1
1     0.1
2     0.1
3     2.7
4     0.4
5     0.1
6     12.0
7     3.0
8     0.1
9     0.1
10    0.1
11    0.2
12    0.3
13    0.1
dtype: float64 0     325.0
1     325.0
2     325.0
3     175.0
4     500.0
5     500.0
6     325.0
7     175.0
8     325.0
9     325.0
10    325.0
11    325.0
12    325.0
13    325.0
dtype: float64 0     32.5
1     32.5
2     32.5
3     472.5
4     200.0
5     50.0
6     3900.0
7     525.0
8     32.5
9     32.5
10    32.5
11    65.0
12    97.5
13    32.5
dtype: float64
8 0 1
0     4/29/2017
1     4/29/2017
2     4/29/2017
3     4/29/2017
4     4/29/2017
5     4/29/2017
6     4/29/2017
7     4/29/2017
8     4/29/2017
9     4/29/2017
10    4/29/2017
11    4/29/2017
12    4/29/2017
13    4/30/2017
14    4/30/2017
15    4/30/2017
16    4/30/2017
dtype: object 0     LBS
1     LBS
2     RMW
3     ARS
4     ARS
5     ARS
6     ARS
7     ARS
8     ARS
9     ARS
10    ARS
11    ARS
12    ARS
13    ARS
14    RE
15    ARS
16    RMW
dtype: object 0     Draft, review and revise exhibit list to include all of Doctor Luna's exhibits  from declaration
1     Draft, review and revise damages spreadsheet
2     Review trial exhibits, motions in limine, jury instructions, draft outline of  trial, witnesses, and opening and closing statement
3     Draft, review and revise email to Blasjo regarding transcript to review
4     Review and revise exhibit list; drafted email to opposing counsel re same
5     Draft, review and revise email to client regarding status, schedule
6     Draft, review and revise email to opposing counsel regarding updated  exhibit list with Luna's exhibits
7     Review email from opposing counsel Shepardson regarding damages FCA  agrees to and not
8     Compile new exhibit 3 "loan documents," Bates label, and add to all exhibit  binders
9     Draft, review and revise email to opposing counsel regarding exhibits to  stipulate to for jury binders
10    Draft, review and revise email to opposing counsel regarding damages  figures to agree for the special verdict form
11    Review and revise special verdict form
12    Review client's deposition transcript to prepare to draft witness exam  outline
13    Draft, review and revise witness outline for Angel
14    Prepared exhibits binders for trial for 14 jurors.
15    Prepare Exhibits
16    Travel to Los Angeles for trial
dtype: object 0     0.5
1     1.3
2     6.5
3     0.1
4     0.1
5     0.1
6     0.1
7     0.1
8     0.2
9     0.2
10    0.5
11    0.6
12    2.0
13    1.5
14    6.9
15    4.0
16    3.5
dtype: float64 0     250.0
1     250.0
2     500.0
3     325.0
4     325.0
5     325.0
6     325.0
7     325.0
8     325.0
9     325.0
10    325.0
11    325.0
12    325.0
13    325.0
14    175.0
15    325.0
16    500.0
dtype: float64 0     125.0
1     325.0
2     3250.0
3     32.5
4     32.5
5     32.5
6     32.5
7     32.5
8     65.0
9     65.0
10    162.5
11    195.0
12    650.0
13    487.5
14    1207.5
15    1300.0
16    1750.0
dtype: float64
9 0 1 2
10 0 1
0     5/1/17
1     5/1/17
2     5/1/17
3     5/1/17
4     5/1/17
5     5/1/17
6     5/1/17
7     5/1/17
8     5/1/17
9     5/1/17
10    5/1/17
11    5/1/17
12    5/1/17
13    5/1/17
14    5/1/17
dtype: object 0     ARS
1     ARS
2     ARS
3     ARS
4     ARS
5     ARS
6     ARS
7     ARS
8     ARS
9     ARS
10    ARS
11    ARS
12    ARS
13    ARS
14    ARS
dtype: object 0     Draft, review and revise email to opposing counsel Shepardson regarding  edited verdict form, mileage offset and payment to Jeep agreement
1     Draft, review and revise verdict form taking out separation between each  cause of action, review for completeness and sequence
2     Review new version of jury instructions after Shepardson edits
3     Review updated exhibit list with stipulations; Add exhibit 27: dealer policy  manual
4     Draft, review and revise exhibit list to add exhibits 147-150; Print 4 copies  and hole punch for all exhibit binders
5     Print jury instructions, verdict form, and exhibit list copies to bring to first  day of trial tomorrow
6     Review all motions in limine, prepare arguments to discuss with Judge  Linfield
7     Meet with client and Richard Wirtz at Los Angeles hotel
8     Draft, review and revise client direct examination outline; Review  deposition transcript
9     Review email from opposing counsel Livedalen regarding verdict form
10    Review email from opposing counsel Shepardson regarding calculation of  repurchase amount
11    Draft, review and revise email to opposing counsel Shepardson regarding  exhibits 147-150 and updated list
12    Draft, review and revise email to opposing counsel Shepardson regarding  verdict form, separation of causes of action
13    Review email from opposing counsel Shepardson regarding headers  between causes of action on verdict form
14    Draft, review and revise email to opposing counsel Livedalen regarding  new verdict form with clear and convincing language
dtype: object 0     0.2
1     0.2
2     0.2
3     0.4
4     0.5
5     0.6
6     1.1
7     3.0
8     3.0
9     0.1
10    0.1
11    0.1
12    0.1
13    0.1
14    0.1
dtype: float64 0     325.0
1     325.0
2     325.0
3     325.0
4     325.0
5     325.0
6     325.0
7     325.0
8     325.0
9     325.0
10    325.0
11    325.0
12    325.0
13    325.0
14    325.0
dtype: float64 0     65.0
1     65.0
2     65.0
3     130.0
4     162.5
5     195.0
6     357.5
7     975.0
8     975.0
9     32.5
10    32.5
11    32.5
12    32.5
13    32.5
14    32.5
dtype: float64
11 0 1
0     5/1/17
1     5/1/17
2     5/1/17
3     5/1/17
4     5/1/17
5     5/1/17
6     5/1/17
7     5/1/17
8     5/1/17
9     5/1/17
10    5/1/17
11    5/2/2017
12    5/2/2017
13    5/2/2017
14    5/2/2017
15    5/2/2017
16    5/2/2017
dtype: object 0     ARS
1     ARS
2     ARS
3     ARS
4     ARS
5     ARS
6     ARS
7     ARS
8     ARS
9     ARS
10    ARS
11    RMW
12    RMW
13    RMW
14    ARS
15    ARS
16    ARS
dtype: object 0     Review email from opposing counsel Shepardson regarding special verdict  form; Review verdict form; draft email requesting clarification
1     Review email from opposing counsel Shepardson regarding Stipulation to  exhibit 27 and revised verdict form draft
2     Review revised verdict form from opposing counsel Shepardson
3     Review email from opposing counsel Shepardson regarding mileage offset  and loan payment amount figures to add to verdict form
4     Draft, review and revise verdict form to add "clear and convincing" language
5     Review email from opposing counsel Shepardson regarding edit to verdict  form with clear and convincing language; Review verdict form
6     Draft, review and revise email to opposing counsel Livedalen regarding  court reporter, witnesses
7     Review email from opposing counsel Shepardson regarding FCA's special  instruction; Review special instruction
8     Review email from opposing counsel Shepardson regarding new version of  verdict form; Review verdict form
9     Review email from opposing counsel Livedalen regarding "clear and  convincing" language for verdict form; Review notes from Final Status  Conference
10    Travel to Los Angeles ahead of trial call tomorrow
11    Attend Trial
12    Prepare for trial
13    Travel to and from and attend preparation session with experts
14    Draft, review and revise email to opposing counsel Shepardson regarding  verdict form
15    Draft, review and revise email to opposing counsel Shepardson regarding  verdict form drafts and exhibit list given to judge
16    Draft, review and revise email to client
dtype: object 0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.2
6     0.2
7     0.2
8     0.3
9     0.3
10    3.5
11    8.0
12    1.5
13    6.0
14    0.1
15    0.1
16    0.1
dtype: float64 0     325.0
1     325.0
2     325.0
3     325.0
4     325.0
5     325.0
6     325.0
7     325.0
8     325.0
9     325.0
10    325.0
11    500.0
12    500.0
13    500.0
14    325.0
15    325.0
16    325.0
dtype: float64 0     65.0
1     65.0
2     65.0
3     65.0
4     65.0
5     65.0
6     65.0
7     65.0
8     97.5
9     97.5
10    1137.5
11    4000.0
12    750.0
13    3000.0
14    32.5
15    32.5
16    32.5
dtype: float64
12 0 1 2
13 0 1
14 0 1
0     8/7/2017
1     8/7/2017
2     8/8/2017
3     8/8/2017
4     8/9/2017
5     8/10/2017
6     8/10/2017
7     8/10/2017
8     8/10/2017
9     8/11/2017
10    8/30/2017
11    9/1/2017
12    9/13/2017
dtype: object 0     ARS
1     ARS
2     ARS
3     ARS
4     ARS
5     ARS
6     ARS
7     ARS
8     ARS
9     ARS
10    ARS
11    ARS
12    RMW
dtype: object 0     Draft, review and revise draft declaration for Luna to file with opposition to  motion to tax costs
1     Draft, review and revise email to Luna regarding declaration to attach to  opposition to motion to tax costs
2     Draft, review and revise email to Luna regarding review of declaration for  motion to tax costs opposition
3     Review email from Luna regarding declaration for opposition to motion to  tax costs; Review draft declaration
4     Review email from Luna regarding declaration to opposition to motion to  tax costs
5     Review and revise opposition to FCA's motion to tax costs
6     Review and revise Mikhov's declaration in support of opposition to motion  to tax costs
7     Draft, review and revise proposed order denying FCA's motion to tax costs
8     Draft, review and revise motion for attorney's fees and costs
9     Draft, review and revise motion for attorneys fees, declarations of Mikhov  and Wirtz
10    ANTICIPATED - Review FCA's opposition to Motion for Attorneys Fees
11    ANTICIPATED - Draft, review and revise reply in support of Motion for  Attorneys Fees
12    ANTICIPATED - Prepare for and attend hearing for Motion for Attorneys  Fees
dtype: object 0     0.2
1     0.2
2     0.1
3     0.2
4     0.1
5     0.6
6     0.5
7     0.3
8     5.0
9     5.0
10    2.0
11    5.5
12    4.5
dtype: float64 0     325.0
1     325.0
2     325.0
3     325.0
4     325.0
5     325.0
6     325.0
7     325.0
8     325.0
9     325.0
10    325.0
11    325.0
12    500.0
dtype: float64 0     65.0
1     65.0
2     32.5
3     65.0
4     32.5
5     195.0
6     162.5
7     97.5
8     1625.0
9     1625.0
10    650.0
11    1787.5
12    2250.0
dtype: float64

In [207]:
for i, dfs in enumerate(df_aux):
    print(i)
    dfs.shape

0

(11, 6)

1

(17, 6)

2

(16, 6)

3

(15, 6)

4

(13, 6)

5

(14, 6)

6

(14, 6)

7

(14, 6)

8

(17, 6)

9

(17, 6)

10

(15, 6)

11

(17, 6)

12

(16, 6)

13

(16, 6)

14

(13, 6)

In [208]:
DF = pd.concat(df_aux)

In [209]:
DF.shape

(225, 6)

In [210]:
DF.to_excel(r"C:\Users\brian\Desktop\trabajillo\\1088888.xlsx", index=False)