In [28]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [19]:
import tabula
from tabula import read_pdf
import numpy as np
import pandas as pd
df = read_pdf('1085144.pdf', guess=False, stream=True, pages='all', multiple_tables=True,  pandas_options={'header':None})

In [21]:
pd.set_option('display.max_colwidth', -1)  #Veo hasta la Ãºltima palabra
i = 0
for dfs in df:
    print(i)
    i += 1
    dfs.head()

0

                                                    0          1         2
1  5/4/2017 RMW Review and sign Notice of Association  0.10       57.50
2  NaN                                                 575.00/hr  NaN
3  RMW Receive and review RO summary                   0.20       115.00
4  NaN                                                 575.00/hr  NaN
5  RMW Review and analyze client file                  2.50       1,437.50

1

,0,1,2,3
1,6/22/2017 RE,"Draft, review and revise proof(s) of service for mandatory settlement",0.20,35.00
2,NaN,conference; File and serve Mandatory Settlement Conference and,175.00/hr,NaN
3,NaN,proof( s) of service,NaN,NaN
4,6/23/2017 EJ,Review email from Phil Montoya (HPTY) regarding continuing,0.10,NO CHARGE
5,NaN,Mandatory Settlement Conference and trial call dates,175.00/hr,NaN

2

,0,1,2,3
1,8/29/2017 RE,"Draft, review and revise Notice in Lieu of Service of Subpoena to",0.20,35.00
2,NaN,"Appear at Trial; Draft, review and revise Letter and Notice to",175.00/hr,NaN
3,NaN,Defendants to Produce Financial Information Showing Viability to Pay,NaN,NaN
4,NaN,"Punitive Damages; Draft, review and revise proof(s) of service; Draft,",NaN,NaN
5,NaN,review and revise email to Nationwide regarding service; Serve same,NaN,NaN

3

,0,1,2,3
1,9/13/2017 JRU,"Draft, review and revise Plaintiffs' Motion in Limine No. 4",0.50,175.00
2,NaN,NaN,350.00/hr,NaN
3,JRU,"Draft, review and revise Plaintiffs' Motion in Limine No. 5",0.50,175.00
4,NaN,NaN,350.00/hr,NaN
5,JRU,"Draft, review and revise Plaintiffs' Motion in Limine No. 6",0.50,175.00

4

,0,1,2,3
1,9/14/2017 RE,Receipt and review email from opposing counsel regarding signed,0.40,70.00
2,NaN,"stipulation; Save document to file; Prepare, file, and serve stipulation;",175.00/hr,NaN
3,NaN,"Draft, review and revise proof(s) of service; Draft, review and revise",NaN,NaN
4,NaN,email to opposing counsel regarding service; Serve same,NaN,NaN
5,JRU,"Draft, review and revise Plaintiffs' Ex Parte Application to continue trial",1.40,490.00

5

,0,1,2,3
1,2/26/2018 RE,Review and revise Joint Witness List,0.10,17.50
2,NaN,NaN,175.00/hr,NaN
3,RE,"Draft, review and revise email to opposing counsel regarding",0.10,17.50
4,NaN,Defendant's additions to the joint trial documents,175.00/hr,NaN
5,RE,Prepare draft of Joint Pretrial Statement,0.20,35.00

6

              0                                       1          2      3
1  3/6/2018 SLA  Review and revise Damages model         0.30       52.50
2  NaN           NaN                                     175.00/hr  NaN
3  3/8/2018 RE   Prepare trial documents for trial call  0.30       52.50
4  NaN           NaN                                     175.00/hr  NaN
5  3/9/2018 JRU  Client communication                    0.20       70.00

7

,0,1,2,3
1,6/22/2018 JRU,"Draft, review and revise Plaintiffs' Motion in Limine No. 12 regarding",0.50,175.00
2,NaN,the Complaint date,350.00/hr,NaN
3,6/29/2018 RE,"Draft, review and revise follow up email to opposing counsel regarding",0.10,17.50
4,NaN,Defendant's additions to the joint trial documents,175.00/hr,NaN
5,SLA,Review and revise damages model,0.20,35.00

In [20]:
df = [x.drop(x.head(1).index, axis=0) for x in df]

In [10]:
import re as regex
def separador(string):
    
    date = regex.findall(r'^\d{1,2}/\d{1,2}/\d{4}', string)
    
    tag = regex.findall(r'\b[A-Z]{2,3}', string)
    
    if date:
            date = date.pop(0)
            string = string.replace(date, '')
    else:
        date = np.NaN
    if tag:
            tag = tag.pop(0)
            string = string.replace(tag, '')
    else:
        tag = np.NaN
    
    string = string.lstrip()
    return date, tag, string

In [44]:
aux = df[0][0].dropna().apply(str)
aux = aux.apply(lambda x: separador(x))
aux = aux.apply(pd.Series)
aux.columns = ['Date', 'Name', 'Description']
Date = aux['Date']
Name = aux['Name']
Descripcion = aux['Description']

In [46]:
Date = Date.dropna()
for date in Date:
    print(date)

5/4/2017
5/10/2017
6/14/2017
6/15/2017
6/16/2017
6/19/2017
6/20/2017

In [47]:
Name = Name.dropna()
for name in Name:
    print(name)

RMW
RMW
RMW
RE
RE
ARS
ARS
EJ
EJ
JRU
JRU

In [62]:
Descripcion = Descripcion.str.replace('nan', '')
filterx = [True if len(x) == 0 else False for x in Descripcion]
Descripcion.drop(labels = Descripcion[filterx].index, inplace=True)

In [63]:
rows_per_row = [
    1,1,1,1,1,1,1,2,2,1,1]
x = 0
for row, count in enumerate(rows_per_row):
    print(*Descripcion[x:count+x])
    x += count

Review and sign Notice of Association
Receive and review RO summary
Review and analyze client file
Update and insert all calendar deadlines
Client communication
Client communication
Client communication
Draft, prepare, and serve Plaintiffs' Objections to Notice of Deposition of Plaintiffs' (6-20, 6-21)
Exchange emails with opposing counsel Phil Montoya (HPTY) regarding deposition of Plaintiffs
Draft, review and revise Mandatory Settlement Conference Statement
Review and revise Mandatory Settlement Conference Statement

In [54]:
pd.set_option('display.max_rows', 1000)
dfs = pd.concat(df[1:]).reset_index(drop=True)
dfs.sample(20)

,0,1,2,3
217,NaN,Memorandum of Costs,350.00/hr,NaN
202,7/3/2018 JRU,Telephone call with opposing counsel regarding upcoming trial and,0.20,70.00
38,NaN,"revise Notice of Change of Address; Draft, review and revise proof(s)",175.00/hr,NaN
146,ARS,Review and revise Joint Witness List,0.20,75.00
157,NaN,NaN,375.00/hr,NaN
210,JRU,Review and revise Plaintiffs' ex parte application to continue trial,0.60,210.00
205,NaN,revise email response to opposing counsel,350.00/hr,NaN
203,NaN,potential continuance,350.00/hr,NaN
163,NaN,NaN,175 00/hr,NaN
194,JRU,"Draft, review and revise Plaintiffs' Motion in Limine No. 13 regarding",0.50,175.00
159,NaN,"Defendant's signed joint trial documents; Draft, review and revise email",175.00/hr,NaN
192,JRU,"Review, revise, and update Plaintiffs' Motions in Limine",1.00,350.00
135,NaN,NaN,175.00/hr,NaN
67,JRU,"Draft, review and revise Plaintiffs' Motion in Limine No. 5",0.50,175.00
110,NaN,NaN,375.00/hr,NaN
179,NaN,NaN,175.00/hr,NaN
144,3/2/2018 RE,"Draft, review and revise email to opposing counsel regarding our",0.10,17.50
28,8/24/2017 ARS,Travel to and from and attend Mandatory Settlement Conference in,5.80,"2,175.00"
129,NaN,NaN,175.00/hr,NaN
11,ARS,Client communication,0.20,75.00

In [38]:
Date2 = dfs[0].str.findall(r'\d{1,2}/\d{1,2}/\d{4}')
Date2 = Date2.dropna()
Date2 = Date2.apply(lambda x: x.pop(0) if x else np.NaN)
Date2 = Date2.dropna()
for date in Date2:
    print(date)

6/22/2017
6/23/2017
6/26/2017
6/27/2017
6/28/2017
8/11/2017
8/15/2017
8/21/2017
8/22/2017
8/24/2017
8/29/2017
9/6/2017
9/12/2017
9/13/2017
9/13/2017
9/14/2017
9/14/2017
9/15/2017
11/6/2017
1/17/2018
2/16/2018
2/26/2018
2/26/2018
3/1/2018
3/2/2018
3/5/2018
3/6/2018
3/8/2018
3/9/2018
6/22/2018
6/22/2018
6/29/2018
7/3/2018
7/6/2018
12/3/2018
1/2/2019
1/3/2019
1/4/2019

In [49]:
Name2 = dfs[0].str.findall(r'[A-Z]{2,3}')
Name2 = Name2.dropna()
Name2 = Name2.apply(lambda x: x.pop(0) if x else np.NaN)
Name2 = Name2.dropna()
for name in Name2:
    print(name)

RE
EJ
ARS
ARS
EJ
ARS
ARS
ARS
ARS
RE
RE
ARS
ARS
ARS
ARS
RE
RE
JRU
RE
JRU
JRU
ARS
ARS
ARS
ARS
ARS
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
JRU
ARS
ARS
ARS
RE
RE
JRU
JRU
RE
ARS
JRU
JRU
JRU
RE
RE
RE
RE
RE
RE
RE
RE
RE
RE
ARS
ARS
ARS
ARS
ARS
ARS
RE
SLA
SLA
RE
JRU
JRU
JRU
RE
RE
RE
RE
RE
RE
RE
RE
RE
JRU
JRU
JRU
RE
SLA
JRU
JRU
JRU
JRU
JRU
JRU
JRU
EKB
EKB
EKB
EKB
EKB
EKB

In [67]:
Descripcion2 = dfs[1].dropna()
rows_per_row = [
    3,2,1,2,2,1,2,2,1,2,3,1,1,2,1,5,3,2,3,2,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,3,4,2,1,5,1,2,1,2,4,3,1,1,1,
    1,2,1,1,3,3,2,1,1,1,1,1,1,4,1,1,1,1,2,2,1,2,1,1,1,1,1,1,1,1,2,2,2,1,2,2,2,2,1,1,1,2,1,1,2,2,2
]
x = 0
for row, count in enumerate(rows_per_row):
    print(*Descripcion2[x:count+x])
    x += count

Draft, review and revise proof(s) of service for mandatory settlement conference; File and serve Mandatory Settlement Conference and proof( s) of service
Review email from Phil Montoya (HPTY) regarding continuing Mandatory Settlement Conference and trial call dates
Client communication
Exchange emails with opposing counsel Montoya regarding continuing Mandatory Settlement Conference and trial
Draft, prepare, and serve Plaintiff's Objections to Notice of Deposition of Experts (6-30-17)
Client communication
Draft, review and revise email to opposing counsel Montoya regarding results of ex parte
Review email from opposing counsel Montoya regarding ex parte results
Client communication
Prepare trial countdown according to new trial date; Calendar all deadlines
Review and revise Plaintiffs' Mandatory Settlement Conference Statement; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide; File and serve same
Client communication
Client communication
Travel to and from and attend Mandatory Settlement Conference in Riverside
Client communication
Draft, review and revise Notice in Lieu of Service of Subpoena to Appear at Trial; Draft, review and revise Letter and Notice to Defendants to Produce Financial Information Showing Viability to Pay Punitive Damages; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide regarding service; Serve same
Prepare, file, and serve Notice of Change of Address; Draft, review and revise Notice of Change of Address; Draft, review and revise proof(s) of service
Draft, review and revise civil trial subpoenas and on-call agreement letters
Review and revise On Call Agreements to dealership personnel; Prepare civil subpoenas and on call agreements for service; Draft, review and revise email to Nationwide regarding service; Serve same
Draft, review and revise trial documents, including proposed joint statement, witness list, and jury instructions
Draft, review and revise Plaintiffs' proposed stipulation to continue trial
Draft, review and revise email to opposing counsel Montoya regarding ex parte notice for trial continuance, stipulation draft
Review and revise exhibit list draft
Review and revise jury instructions draft
Draft, review and revise special verdict form
Draft, review and revise trial brief
Draft, review and revise Plaintiffs' Motion in Limine No. 1
Draft, review and revise Plaintiffs' Motion in Limine No. 2
Draft, review and revise Plaintiffs' Motion in Limine No. 3
Draft, review and revise Plaintiffs' Motion in Limine No. 4
Draft, review and revise Plaintiffs' Motion in Limine No. 5
Draft, review and revise Plaintiffs' Motion in Limine No. 6
Draft, review and revise Plaintiffs' Motion in Limine No. 7
Draft, review and revise Plaintiffs' Motion in Limine No. 8
Draft, review and revise Plaintiffs' Motion in Limine No. 9
Draft, review and revise Plaintiffs' Motion in Limine No. 11
Draft, review and revise Plaintiffs' Motion in Limine No. 12
Draft, review and revise Plaintiffs' Motion in Limine No. 13
Draft, review and revise Plaintiffs' Motion in Limine No. 14
Draft, review and revise Plaintiffs' Motion in Limine No. 10
Review email from opposing counsel regarding trial deadlines
Draft, review and revise email to opposing counsel Montoya regarding trial deadlines, documents
Review and revise witness list draft
Telephone conference with Nationwide regarding filing of Stipulation to Continue Trial; Draft, review and revise email to Nationwide regarding same
Receipt and review email from opposing counsel regarding signed stipulation; Save document to file; Prepare, file, and serve stipulation; Draft, review and revise proof(s) of service; Draft, review and revise email to opposing counsel regarding service; Serve same
Draft, review and revise Plaintiffs' Ex Parte Application to continue trial and all related dates
Prepare or Ex Parte hearing in the morning
Prepare, file, and serve Plaintiffs' Ex Parte Application to Continue Trial; Draft, review and revise proof(s) of service; Draft, review and revise email to opposing counsel regarding service; Serve same; Draft, review and revise email to Nationwide regarding courtesy copies to the court
Client communication
Travel to and from and attend Ex Parte hearing to continue trial in Department 6 of Riverside Superior Court
Research and analysis regarding motion to augment
Draft, review and revise plaintiffs initial expert designation with declaration and exhibits
Finalize plaintiffs initial expert designation with declaration and exhibits; Draft Proof(s) of service for same; Draft email to Nationwide process servers to serve plaintiffs' expert designations, declaration in support of expert designations, and proof of service
Draft, review and revise plaintiffs trial subpoenas with docs; Draft, review and revise Proof(s) of service; Email Nationwide process servers regarding service on opposing counsel
Review and revise Joint Exhibit List
Review and revise Joint Jury Instructions
Review and revise Joint Statement of the Case
Review and revise Joint Witness List
Draft, review and revise email to opposing counsel regarding Defendant's additions to the joint trial documents
Prepare draft of Joint Pretrial Statement
Prepare draft of Joint List of Non Controverted Issues
Draft, review and revise Plaintiff's Objections to FCA's Expert Designation; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide regarding service; Serve same
Receive and review email from opposing counsel regarding scheduling depositions before trial; Draft, review and revise email to opposing counsel regarding all discovery cutoffs have passed
Draft, review and revise email to opposing counsel regarding our revisions to the joint trial documents
Review and revise Joint Witness List
Review and revise Joint Pretrial Statement
Review and revise Joint Exhibit List
Review and revise Joint Jury Instructions
Review and revise Joint List of Non Controverted Issues
Review and revise Joint Statement of the Case
Receive and review email from opposing counsel regarding Defendant's signed joint trial documents; Draft, review and revise email to opposing counsel regarding statement of the case and pretrial statement
Draft, review and revise Damages model
Review and revise Damages model
Prepare trial documents for trial call
Client communication
Appear via CourtCall for second call during afternoon calendar for the Court to set the new trial date
Travel to and from and attend trial call and Mandatory Settlement Conference at Riverside Superior Court
Prepare draft of updated statement of the case
Draft, review and revise email to opposing counsel regarding exchange of joint trial documents and motions in limine
Prepare draft of updated joint pretrial statement
Prepare draft of updated joint exhibit list
Prepare draft of updated joint jury instructions
Prepare draft of updated special jury instructions
Prepare updated draft of Joint Exhibit List
Prepare updated draft of Joint Jury Instructions
Prepare updated draft of Plaintiffs' Special Jury Instructions
Review, revise, and update Plaintiffs' Motions in Limine
Draft, review and revise Plaintiffs' Motion in Limine No. 13 regarding 998s
Draft, review and revise Plaintiffs' Motion in Limine No. 12 regarding the Complaint date
Draft, review and revise follow up email to opposing counsel regarding Defendant's additions to the joint trial documents
Review and revise damages model
Telephone call with opposing counsel regarding upcoming trial and potential continuance
Receive and review email from opposing counsel; Draft, review and revise email response to opposing counsel
Draft, review and revise ex parte application to continue trial and reopen discovery
Draft, review and revise joint stipulation to continue trial and reopen discovey
Review and revise Plaintiffs' ex parte application to continue trial
Client communication
Travel to and from and attend Trial Call in Riverside, Dept 1
Audit fees and costs invoices for Motion for Attorney's Fees and Memorandum of Costs
Draft, review and revise Motion for Attorney's Fees
Draft, review and revise Motion for Attorney's Fees
Draft, review and revise reply in support of Motion for Attorney's Fees (anticipated)
Travel to and from and attend hearing on Motion for Attorney's Fees (anticipated)
Draft, review and revise Motion for Attorney's Fees and declarations in support of same

In [72]:
df[0].columns = [0, 2, 3]

In [74]:
aux4 = pd.concat(df)

In [77]:
Hours_Rate = aux4[2].dropna()
Hours_Rate

1     0.10
2     575.00/hr
3     0.20
4     575.00/hr
5     2.50
6     575.00/hr
7     0.30
8     175.00/hr
9     0.20
10    175.00/hr
11    0.50
12    375.00/hr
13    0.30
14    375.00/hr
15    0.50
16    175.00/hr
17    0.30
18    175.00/hr
19    1.00
20    350.00/hr
21    0.50
22    350.00/hr
1     0.20
2     175.00/hr
4     0.10
5     175.00/hr
6     0.30
7     375.00/hr
8     0.40
9     375.00/hr
10    0.30
11    175.00/hr
12    0.20
13    375.00/hr
14    0.10
15    375.00/hr
16    0.20
17    375.00/hr
18    0.20
19    375.00/hr
20    0.40
21    175.00/hr
22    0.30
23    175.00/hr
25    0.20
26    375.00/hr
27    0.20
28    375.00/hr
29    5.80
30    375.00/hr
31    0.20
32    375.00/hr
1     0.20
2     175.00/hr
6     0.20
7     175.00/hr
9     1.40
10    350.00/hr
11    0.30
12    175.00/hr
14    1.50
15    350.00/hr
16    0.70
17    350.00/hr
18    0.10
19    375.00/hr
20    0.20
21    375.00/hr
22    0.20
23    375.00/hr
24    0.50
25    375.00/hr
26    0.80
27    375.00/hr
28    0.50
29    350.00/hr
30    0.50
31    350.00/hr
32    0.50
33    350.00/hr
1     0.50
2     350.00/hr
3     0.50
4     350.00/hr
5     0.50
6     350.00/hr
7     0.50
8     350.00/hr
9     0.50
10    350.00/hr
11    0.50
12    350.00/hr
13    0.50
14    350.00/hr
15    0.50
16    350.00/hr
17    0.50
18    350.00/hr
19    0.50
20    350.00/hr
21    0.80
22    350.00/hr
23    0.10
24    375.00/hr
25    0.10
26    375.00/hr
27    0.20
28    375.00/hr
29    0.20
30    175.00/hr
1     0.40
2     175.00/hr
5     1.40
6     350.00/hr
7     0.20
8     350.00/hr
9     0.40
10    175.00/hr
14    0.20
15    375.00/hr
16    4.80
17    350.00/hr
18    0.30
19    350.00/hr
20    0.30
21    350.00/hr
22    0.40
23    175.00/hr
26    0.80
27    175 00/hr
29    0.10
30    175.00/hr
31    0.10
32    175.00/hr
33    0.10
34    175.00/hr
1     0.10
2     175.00/hr
3     0.10
4     175.00/hr
5     0.20
6     175.00/hr
7     0.10
8     175.00/hr
9     0.20
10    175.00/hr
12    0.10
13    175.00/hr
15    0.10
16    175.00/hr
17    0.20
18    375.00/hr
19    0.30
20    375.00/hr
21    0.20
22    375.00/hr
23    0.20
24    375.00/hr
25    0.20
26    375.00/hr
27    0.20
28    375.00/hr
29    0.10
30    175.00/hr
33    0.50
34    175 00/hr
1     0.30
2     175.00/hr
3     0.30
4     175.00/hr
5     0.20
6     350.00/hr
7     0.80
8     350.00/hr
9     7.00
10    350.00/hr
11    0.10
12    175.00/hr
13    0.10
14    175.00/hr
15    0.10
16    175.00/hr
17    0.30
18    175.00/hr
19    0.30
20    175.00/hr
21    0.10
22    175.00/hr
23    0.30
24    175.00/hr
25    0.40
26    175.00/hr
27    0.10
28    175.00/hr
29    1.00
30    350.00/hr
31    0.50
32    350.00/hr
1     0.50
2     350.00/hr
3     0.10
4     175.00/hr
5     0.20
6     175.00/hr
7     0.20
8     350.00/hr
9     0.20
10    350.00/hr
11    0.40
12    350.00/hr
13    0.80
14    350.00/hr
15    0.60
16    350.00/hr
17    0.20
18    350.00/hr
19    6.50
20    350.00/hr
21    1.20
22    350.00/hr
23    1.50
24    350.00/hr
25    2.00
26    350.00/hr
27    5.00
28    350.00/hr
29    6.00
30    350.00/hr
31    3.60
32    350.00/hr
Name: 2, dtype: object

In [87]:
Total = aux4[3].dropna()
Total = Total.str.replace('NO CHARGE', 'nan')
Total = Total.str.replace(',', '')
Total = Total.apply(float)
for total in Total:
    print(total)

57.5
115.0
1437.5
nan
35.0
187.5
112.5
87.5
52.5
350.0
175.0
35.0
nan
112.5
150.0
52.5
75.0
37.5
75.0
75.0
nan
52.5
75.0
75.0
2175.0
75.0
35.0
nan
490.0
52.5
525.0
245.0
37.5
75.0
75.0
187.5
300.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
280.0
37.5
37.5
75.0
35.0
70.0
490.0
70.0
70.0
75.0
1680.0
105.0
105.0
70.0
140.0
17.5
17.5
17.5
17.5
17.5
35.0
17.5
35.0
nan
17.5
75.0
112.5
75.0
75.0
75.0
75.0
17.5
87.5
52.5
52.5
70.0
280.0
2450.0
17.5
17.5
17.5
52.5
52.5
17.5
52.5
70.0
17.5
350.0
175.0
175.0
17.5
35.0
70.0
70.0
140.0
280.0
210.0
70.0
2275.0
420.0
525.0
700.0
1750.0
2100.0
1260.0

In [96]:
Hours_Rate = Hours_Rate.reset_index(drop=True)
Hours_Rate = Hours_Rate.drop('index', axis=1)

In [106]:
rates = Hours_Rate.drop(range(0, len(Hours_Rate), 2),axis=0)
hours = Hours_Rate.drop(range(1, len(Hours_Rate), 2),axis=0)
rates = rates[2]
hours = hours[2]

In [105]:
hours = hours.apply(float)
for hour in hours:
    print(hour)

0.1
0.2
2.5
0.3
0.2
0.5
0.3
0.5
0.3
1.0
0.5
0.2
0.1
0.3
0.4
0.3
0.2
0.1
0.2
0.2
0.4
0.3
0.2
0.2
5.8
0.2
0.2
0.2
1.4
0.3
1.5
0.7
0.1
0.2
0.2
0.5
0.8
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.5
0.8
0.1
0.1
0.2
0.2
0.4
1.4
0.2
0.4
0.2
4.8
0.3
0.3
0.4
0.8
0.1
0.1
0.1
0.1
0.1
0.2
0.1
0.2
0.1
0.1
0.2
0.3
0.2
0.2
0.2
0.2
0.1
0.5
0.3
0.3
0.2
0.8
7.0
0.1
0.1
0.1
0.3
0.3
0.1
0.3
0.4
0.1
1.0
0.5
0.5
0.1
0.2
0.2
0.2
0.4
0.8
0.6
0.2
6.5
1.2
1.5
2.0
5.0
6.0
3.6

In [107]:
rates

1      575.00/hr
3      575.00/hr
5      575.00/hr
7      175.00/hr
9      175.00/hr
11     375.00/hr
13     375.00/hr
15     175.00/hr
17     175.00/hr
19     350.00/hr
21     350.00/hr
23     175.00/hr
25     175.00/hr
27     375.00/hr
29     375.00/hr
31     175.00/hr
33     375.00/hr
35     375.00/hr
37     375.00/hr
39     375.00/hr
41     175.00/hr
43     175.00/hr
45     375.00/hr
47     375.00/hr
49     375.00/hr
51     375.00/hr
53     175.00/hr
55     175.00/hr
57     350.00/hr
59     175.00/hr
61     350.00/hr
63     350.00/hr
65     375.00/hr
67     375.00/hr
69     375.00/hr
71     375.00/hr
73     375.00/hr
75     350.00/hr
77     350.00/hr
79     350.00/hr
81     350.00/hr
83     350.00/hr
85     350.00/hr
87     350.00/hr
89     350.00/hr
91     350.00/hr
93     350.00/hr
95     350.00/hr
97     350.00/hr
99     350.00/hr
101    350.00/hr
103    375.00/hr
105    375.00/hr
107    375.00/hr
109    175.00/hr
111    175.00/hr
113    350.00/hr
115    350.00/hr
117    175.00/hr
119    375.00/hr
121    350.00/hr
123    350.00/hr
125    350.00/hr
127    175.00/hr
129    175 00/hr
131    175.00/hr
133    175.00/hr
135    175.00/hr
137    175.00/hr
139    175.00/hr
141    175.00/hr
143    175.00/hr
145    175.00/hr
147    175.00/hr
149    175.00/hr
151    375.00/hr
153    375.00/hr
155    375.00/hr
157    375.00/hr
159    375.00/hr
161    375.00/hr
163    175.00/hr
165    175 00/hr
167    175.00/hr
169    175.00/hr
171    350.00/hr
173    350.00/hr
175    350.00/hr
177    175.00/hr
179    175.00/hr
181    175.00/hr
183    175.00/hr
185    175.00/hr
187    175.00/hr
189    175.00/hr
191    175.00/hr
193    175.00/hr
195    350.00/hr
197    350.00/hr
199    350.00/hr
201    175.00/hr
203    175.00/hr
205    350.00/hr
207    350.00/hr
209    350.00/hr
211    350.00/hr
213    350.00/hr
215    350.00/hr
217    350.00/hr
219    350.00/hr
221    350.00/hr
223    350.00/hr
225    350.00/hr
227    350.00/hr
229    350.00/hr
Name: 2, dtype: object

In [111]:
rates = rates.str.replace('/hr', '')
rates = rates.str.replace(' ', '.')

rates = rates.apply(float)

for rate in rates:
    print(rate)

575.0
575.0
575.0
175.0
175.0
375.0
375.0
175.0
175.0
350.0
350.0
175.0
175.0
375.0
375.0
175.0
375.0
375.0
375.0
375.0
175.0
175.0
375.0
375.0
375.0
375.0
175.0
175.0
350.0
175.0
350.0
350.0
375.0
375.0
375.0
375.0
375.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
375.0
375.0
375.0
175.0
175.0
350.0
350.0
175.0
375.0
350.0
350.0
350.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
375.0
375.0
375.0
375.0
375.0
375.0
175.0
175.0
175.0
175.0
350.0
350.0
350.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
175.0
350.0
350.0
350.0
175.0
175.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0
350.0