In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [140]:
import tabula
from tabula import read_pdf
import numpy as np
import pandas as pd
import re as regex
df = read_pdf('1088890.pdf', guess=False, stream=True, pages='all', multiple_tables=True,  pandas_options={'header':None})

In [141]:
pd.set_option('display.max_colwidth', -1)  #Veo hasta la Ãºltima palabra
pd.set_option('display.max_rows', 1000)

In [142]:
df[0] = df[0].drop(df[0].head(10).index, axis=0)
df[0] = df[0].reset_index(drop=True)

In [143]:
lista_head_drop = []
for dfs in df[1:]:
    dfs.loc[:, 0] = dfs.loc[:, 0].apply(str)
    filtery = [True if regex.search(r'\d{1,2}/\d{1,2}/\d{2,4}', x) else False for x in dfs.loc[:, 0]]
    # finding first True value 
    # USA GENERADORES
    # using next() and enumerate() 
    pos = next((i for i, j in enumerate(filtery) if j), None) 
    lista_head_drop.append(pos)
    dfs.loc[:, 0] = dfs.loc[:, 0].replace('nan', np.NaN)

In [144]:
for item in lista_head_drop:
    print(item)

4
4
4
3
4
4
4
4
4
4
4
4
3

In [145]:
for i, dfs in enumerate(df[1:], start=1):
    df[i] = df[i].drop(df[i].head(lista_head_drop[i-1]).index, axis=0)

In [146]:
df = [x.drop(x.tail(2).index, axis=0) for x in df]

In [147]:
df = [x.reset_index(drop=True) for x in df]

In [151]:
df[13].loc[24, 2] = '325.00/hr'
df[13].loc[25, 2] = np.NaN

C:\Users\brian\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [152]:
df = [x.dropna(axis=1, how='all') for x in df]
for df_aux in df:
    df_aux.columns = np.arange(0, len(df_aux.columns), 1)

In [153]:
df[2].loc[15, 1] = ' 1.60 400.00'

In [154]:
df[3].loc[16, 1] = '0.50 125.00'

In [155]:
df[4].loc[25, 2] = '175.00/hr'

In [156]:
df[4].loc[14, 2] = '500.00/hr'
df[4].loc[15, 2] = np.NaN
df[4].loc[16, 2] = '0.20 35.00'

In [157]:
df[5].loc[14, 0] = 'ARS Multiple emails with opposing counsel Spataro regarding trial schedule 0.40 NO CHARGE'
df[5].loc[24, 0] = 'RE Draft. Review and revise Plaintiffs Exhibit List and Exhibits 0.50 NO CHARGE'
df[5].loc[28, 0] = 'ARS Review email from opposing counsel Shepardson regarding continuing 0.10 NO CHARGE'

In [158]:
df[7].loc[15, 1] = '0.20 35.00'
df[7].loc[25, 1] = '0.10 32.50'

In [159]:
df[8].loc[17, 0] = 'RE Prepare, file, and serve Notice of Change of Address; Draft review and'
df[8].loc[17, 1] = np.NaN
df[8].loc[17, 2] = '0.20 NO CHARGE'
df[8].loc[25, 2] = '500.00/hr'

In [160]:
df[9].loc[16, 0] = np.NaN
df[11].loc[14, 1] = '175.00/hr'

In [161]:
df[0].loc[13, 0] = "(6-22-17)"
df[0].loc[13, 1] = '175.00/hr'

In [162]:
df[0].loc[10, 1] = '0.10 NO CHARGE'

In [163]:
df[2].loc[24, 1] = '0.50 125.00'

In [164]:
df[7].loc[12, 1] = '0.10 NO CHARGE'

In [165]:
df[12].loc[16, 1] = '325.00/hr'

In [166]:
aux = df[4][1].str.findall('[A-Z]{2,3}')
filtery = []
names = []
for item in aux:
    if not isinstance(item, float):
        if item:
            if item[0] != 'FCA':
                filtery.append(True)
                names.append(item.pop(0))
            else:
                filtery.append(False)
        else:
            filtery.append(False)
    else:
        filtery.append(False)
strings = []
df[4].loc[filtery, 0] = names
for name, serie in zip(names, df[4].loc[filtery, 1]):
    serie = serie.replace(name, '')
    strings.append(serie.strip())
df[4].loc[filtery, 1] = strings

In [167]:
df[9].loc[17, 0] = 'RE Prepare, bates stamp, and print exhibits for trial'

In [168]:
df = [x.dropna(axis=1, how='all') for x in df]
for df_aux in df:
    df_aux.columns = np.arange(0, len(df_aux.columns), 1)

In [169]:
for i in range(len(df)):
    print(i)
    df[i].head(1)

0

                                            0            1
0  5/3/2017 RMW Receive and review RO Summary  0.50 250.00

1

,0,1
0,6/27/2017 RE Proof read and finalize Mandatory Settlement Conference Statement,0.30 NO CHARGE

2

,0,1
0,"7/12/2017 RMW Draft, review and revise joint witness list; Draft, review and revise joint",0.80 400.00

3

,0,1
0,"7/16/2017 JRU Draft, review and revise Plaintiffs Motion in Limine No. 5",0.50 125.00

4

,0,1,2
0,7/20/2017 JRU,"Draft, review and revise email to opposing counsel regarding Plaintiffs'",0.10 25.00

5

                                                                                                  0
0  7/26/2017 ARS Draft, review and revise opposition to FCA's motion in limine number 5 0.50 162.50

6

,0,1
0,7/28/2017 ARS Phone call to court clerk regarding trial schedule,0.20 NO CHARGE

7

                                                        0           1
0  8/2/2017 ARS Draft, review and revise email to clients  0.10 32.50

8

                                                       0           1
0  9/5/2017 ARS Draft, review and revise email to client  0.10 32.50

9

                                                       0           1
0  9/9/2017 ARS Draft, review and revise email to client  0.10 32.50

10

,0,1
0,"9/11/2017 ARS Travel to and from and attend first day of trial, travel to Kinkos to print","7.50 2,437.50"

11

,0,1
0,"9/13/2017 ARS Phone call with Luna and Linda Pette regarding declaration, damages,",0.20 65.00

12

,0,1
0,9/14/2017 ARS Review Luna's declaration to add references to trial exhibits for her,1.00 325.00

13

,0,1
0,"9/17/2017 ARS Draft, review and revise joint witness list; Draft, review and revise email",0.10 32.50

In [195]:
%run ./FUNCIONES.ipynb

In [196]:
df_aux = []
rpr = [
    [1,1,1,2,2,2,2,2,1,1,1],
    [2,2,2,2,1,2,1,2,2,2,1,3,2,2,1,1],
    [2,3,2,2,1,1,1,3,2,2,1,1,1,1,1],
    [1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2],
    [2,2,2,1,3,1,1,2,2,1,1,2,1,1,1,1],
    [1,1,1,4,2,2,1,1,2,1,2,1,2,2,2],
    [1,2,1,1,1,2,2,2,2,2,2,1,1,1,2,2],
    [1,1,2,2,2,1,3,5,1,3,1,1,1,1],
    [1,1,1,2,1,5,2,3,1,1,1,1,1,1,2],
    [1,1,1,1,1,1,1,1,1,1,1,1,1,3,1,1],
    [2,2,2,4,3,3,2,1,1,1,1,2,2,1,1],
    [2,1,2,2,2,3,2,2,3,3,3,2,2,2,2],
    [2,2,3,2,2,4,3,2,2,2,1,1,2,1,1],
    [2,1,2,1,1,2,1,3,2,1,1,1,1,1,1]
]
for i, dfs in enumerate(df):
    if len(dfs.columns) == 1:
        print(i, '0')
        df_aux.append(dndhrt(dfs, rpr[i]))
    elif len(dfs.columns) == 2:
        print(i, '0 1')
        df_aux.append(dnd_hrt(dfs, rpr[i]))
    elif len(dfs.columns) == 3:
        print(i, '0 1 2')
        df_aux.append(dn_d_hrt(dfs, rpr[i]))
    else:
        raise ValueError()

0 0 1
1 0 1
2 0 1
3 0 1
4 0 1 2
5 0
6 0 1
7 0 1
8 0 1
9 0 1
10 0 1
11 0 1
12 0 1
13 0 1

In [197]:
df_aux[12]

,Date,Names,Description,Hours,Rates,Totals
0,9/14/2017,ARS,Review Luna's declaration to add references to trial exhibits for her declaration exhibits to prepare to send to Judge Curry,1.00,325.0,325.0
1,9/15/2017,RMW,Travel to and from and attend deposition of expert Tom Lepper in San Francisco at Defendant's counsel's office; Conference with Tom Lepper preparing for deposition,10.00,500.0,5000.0
2,9/15/2017,ARS,Review email from Court clerk Graham regarding request for expert information for Judge Curry,0.10,325.0,32.5
3,9/15/2017,ARS,"Draft, review and revise email to court clerk Graham regarding I am sending expert information by separate email",0.10,325.0,32.5
4,9/15/2017,ARS,"Draft, review and revise err1aii to Judge Curry and cierk Graham regarding Luna deposition and Teran trial transcript, Micale Teran transcript, meet-and-confer emails regarding scheduling expert depositions and VI",0.10,325.0,32.5
5,9/15/2017,ARS,"Draft, review and revise email to Judge Curry and c!erk Grnham regarding Luna declaration vvith trial exhibit numbers included 325.00/hr 1 Luna CV and testimony history exhibit",0.10,325.0,32.5
6,9/15/2017,ARS,Review and revise Luna declaration draft with notes indicating trial exhibit numbers to send to Judge Curry,1.00,325.0,325.0
7,9/16/2017,RMW,Review voir dire questions; Review and revise opening statement and motions in limine,3.50,500.0,1750.0
8,9/16/2017,RMW,Review and analyze FCA internal emails; investigations; and corrective action documentation,6.00,500.0,3000.0
9,9/17/2017,RMW,Prepare for day 1 of trial,2.00,500.0,1000.0
10,9/17/2017,RMW,Conference with clients,3.00,500.0,1500.0
11,9/17/2017,RMW,"Review and analyze expert transcripts, declarations, and depositions in preparation for Motion in Limine argument",2.50,500.0,1250.0
12,9/17/2017,RMW,Travel to Roseville,5.00,500.0,2500.0
13,9/17/2017,ARS,Conference with clients,3.00,325.0,975.0

In [172]:
for i, dfs in enumerate(df_aux):
    print(i)
    dfs.shape

0

(5, 6)

1

(12, 6)

2

(11, 6)

3

(14, 6)

4

(16, 6)

5

(7, 6)

6

(11, 6)

7

(10, 6)

8

(12, 6)

9

(16, 6)

10

(9, 6)

11

(10, 6)

12

(14, 6)

13

(12, 6)

In [198]:
DF = pd.concat(df_aux)

In [199]:
DF.shape

(159, 6)

In [200]:
DF.to_excel(r"C:\Users\brian\Desktop\trabajillo\\1088890.xlsx", index=False)